$colorPrimario: pink;
$colorSecundario: blueviolet;
$colorTextoSecundario: deeppink;
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
label {
  font-size: 1em;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  background-color: $colorSecundario;
  margin-top: 20px;
  color: #fff;
}
.content {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: grid;
  // grid-template-columns: 100px 1fr;
  grid-template-areas:
    "header header"
    "nav    nav"
    "main   main"
    "footer  footer";
  grid-auto-columns: 200px 1fr;
  background-color: antiquewhite;
}

header {
  grid-area: header;
  // background-color: red;
}
nav {
  grid-area: nav;
}
.main-aside {
  grid-area: main;
}
aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}
// Header- color rosado
.content--header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $colorPrimario;
}
.content--header input[type="checkbox"] {
  display: none;
}
// Estilos para el icono de forma de cuadro
.content--header .icon-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: $colorTextoSecundario;
  font-size: 1.5em;
  border: 2px solid $colorSecundario;
}

.content--header .menu-check:checked ~ .header-menu {
  max-height: 1000px;
  overflow: visible;
  visibility: visible;
}
// Color cuadro del login
.header-menu {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  padding: 15px 0;
  transition: all 0.5s ease-in-out;
  background-color: lightgreen;
}
// Color iconos del titulo
.header-menu [class^="icon-"] {
  color: $colorTextoSecundario;
}
.sesion {
  margin-top: 20px;
  text-align: center;
}

.title {
  color: $colorSecundario;
  text-align: center;
}
.sesion label {
  display: block;
  margin-bottom: 6px;
  color: $colorTextoSecundario;
}
.sesion .row {
  margin-top: 10px;
}
.sesion .btn--sesion {
  margin-top: 20px;
  color: #fff;
}
.sesion .btn--sesion:hover {
  background-color: rgba(138, 43, 226, 0.8);
}

// Menu
.lista--menu {
  display: flex;
  justify-content: space-around;
  background-color: $colorTextoSecundario;
}
.lista--menu a {
  color: #fff;
}
// Contenido principal
main,
aside {
  background-color: #fff;
}
.img__perfil {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  object-fit: cover;
  margin: 20px auto;
}

.subtitle {
  margin-bottom: 10px;
  font-weight: 600;
  color: crimson;
  font-size: 1.3em;
}
.subtitle--main {
  color: deeppink;
  font-weight: 900;
  font-size: 1.5em;
}
article {
  margin-bottom: 15px;
}
.mascotas,
.amor-propio,
.publicidad,
.bibliografia {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.mascotas,
.publicidad,
.bibliografia {
  border-bottom: 2px solid royalblue;
}
.galeria img {
  width: 100%;
  height: 200px;
  border-radius: 50%;
  border: 5px solid $colorTextoSecundario;
}
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  // grid-template-rows: repeat(auto-fit, minmax(200px, 200px));
  // grid-auto-rows: 2
  gap: 20px;
  margin-top: 15px;
  background-color: rgb(231, 229, 226);
  padding: 20px;
}
.amor-propio {
  border-bottom: 2px solid blueviolet;
}

.amor-propio article img,
.comida-saludable img {
  max-width: 30%;
  margin: 15px auto;
}
.comida-saludable {
  border-bottom: 2px solid royalblue;
}
.lista--saludable {
  margin: 10px 0;
  list-style-type: square;
  list-style-position: inside;
}
.lista--saludable li {
  margin: 5px 0;
}

// Aside
aside section {
  margin: 15px 0;
}

.publicidad article {
  margin: 20px 0;
}
.publicidad h3 {
  margin-bottom: 10px;
}
.publicidad a {
  display: inline-block;
  margin-top: 10px;
  font-size: 1.1em;
  color: $colorSecundario;
}
.contacto .row {
  margin: 10px 0;
}
.contacto label {
  display: block;
  margin-bottom: 10px;
}
.contacto input,
.contacto textarea {
  border: none;
  width: 100%;
  box-shadow: 2px 2px 2px $colorSecundario, -2px -2px 2px $colorSecundario;
}
.contacto input[type="email"] {
  width: 95%;
}

// footer
footer {
  background-color: $colorPrimario;
}
.content--footer {
  text-align: center;
}
.autor {
  color: deeppink;
  font-weight: 600;
}
.redes {
  margin-top: 10px;
  // width: 100%;
  // background-color: red;
}
.lista--enlaces .lista__item {
  margin: 10px 0;
}

.lista--enlaces li {
  color: deeppink;
}
.lista--enlaces a {
  margin-left: 10px;
  color: $colorSecundario;
}

@media screen and (min-width: 768px) {
  .content--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lista--enlaces {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .lista--enlaces .lista__item {
    margin-left: 10px;
  }
  .lista--enlaces .lista__item:last-child {
    margin-right: 10px;
  }

  // Menu
  // Estilos para el icono de forma de cuadro
  .content--header .icon-menu {
    display: none;
  }
  .header-menu {
    position: static;
    overflow: hidden;
    visibility: visible;
    max-height: 1000px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
  }
  .sesion {
    display: flex;
    align-items: center;
    margin-top: 0;
  }
  .sesion .row {
    margin-left: 10px;
  }
  .sesion .btn--sesion {
    margin-top: 0;
    margin-left: 15px;
    align-self: flex-end;
  }
  .content--main-aside {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    // background-color: green;
  }
  aside {
    width: 30%;
    min-width: 250px;
    max-width: 350px;
    margin-left: 10px;
  }
  .bibliografia .subtitle--main,
  .publicidad .subtitle--main,
  .contacto .subtitle--main {
    text-align: center;
  }

  .comida-saludable {
    border: none;
  }
}
